{% extends 'base.html' %}

{% block content %}

<h5>Search Employees</h5>

<script>
	function setFormAction() {
		$('#searchEmpFrm').on( 'submit', function( event ) {
			$(this).prop('action', $( location ).attr( "origin" ) + '/employees/search/' +
			    $('#last_name').val() + '/' + $('#first_name').val());
		});
	}

	$( document ).ready( function() {
		setFormAction();
	});
</script>

<div>
	<form method="post" id="searchEmpFrm" action="">
		<label for="last_name">Partial Last Name</label>
		<input id="last_name" required placeholder="%nas%" value="%nas%">
		<label for="first_name">Partial First Name</label>
		<input id="first_name" required placeholder="%An" value="%An">
		<input type="submit" value="Search">
	</form>
</div>

<div>
	<a href="/employees/new" class="link-primary">Add a New Employee</a>
</div>

{% endblock %}